<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>

    <div data-role="page" id="dashboard">

      <div data-role="header">
        <h1>Dashboard</h1>
      </div><!-- /header -->
      
      <div data-role="content">
        <ul data-role="listview" data-inset="true" id="charities" data-filter="true" data-filter-placeholder="Search Charities"></ul>
      </div><!-- /content -->

      <script>
        charityName = [];
        charityId = [];
        eventsJson = null;
        
        $(document).ready(function() {
<<<<<<< HEAD
          setTimeout(query(), 2000);
=======
          setTimeout(query(), 2000)
>>>>>>> 396164f5485fce5e964cec32d907e3fef970416a
        });

        function query(q)
        {
          charityName = [];
          charityId = [];
          eventsJson = null;
          $.ajax(
          {
            type: "post",
            method: "get",
            url: "https://api.justgiving.com/ab813ab8/v1/charity/search?pageSize=5&q="+q,
            headers: {'accept' : 'application/json'},
            success: function(data)
            {
              eventsJson = data;
              console.log(eventsJson);
              numberOfHits = eventsJson.charitySearchResults.length;
              refresh();
            }
          });
        }

        function refresh()
        {
          for (var i = 0; i < numberOfHits; i++)
          {
            console.log(eventsJson.charitySearchResults[i].name);
            charityName.push(eventsJson.charitySearchResults[i].name);
            console.log(eventsJson.charitySearchResults[i].charityId);
            charityId.push(eventsJson.charitySearchResults[i].charityId);
          }

          var output = [];
          for (var i = 0; i < numberOfHits; i++)
          {
            output.push('<li><a href=/single/?charity_id=' + charityId[i] + '>' + charityName[i] +'</li>');
          }

         $('#charities').append(output.join('')).listview('refresh');

         $("#charities").listview("refresh");
        }

        $('#charities').on("filterablebeforefilter", function(e, data)
        {
          charityName = [];
          charityId = [];
          eventsJson = null;
          query(data.input[0].value);
        });
      </script>

    </div><!-- /page -->
  </body>
</html>