<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>

    <script>
    charityNames = [];

      var eventsJson = null
      $.ajax({
        method: "get",
        url: "http://api.justgiving.com/charity/ab813ab8/v1/charity/search",
        dataType: "json",
        success: function(data){
          eventsJson = data;
          refresh();
        }
      })

      console.log(data)

      charityNames
    </script>

  </head>

  <body>

    <div data-role="page" id="dashboard">

      <div data-role="header">
        <h1>Dashboard</h1>
      </div><!-- /header -->

      <div data-role="body">

      </div><!-- /body -->

      <!-- footer navigator -->
      <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><a href="login/login">Login</a></li>
            <li><a href="b.html">Friends</a></li>
            <li><a href="c.html">Albums</a></li>
            <li><a href="d.html">Emails</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->

    </div><!-- /page -->

  </body>
</html>