<form action="https://api.twitter.com/1.1/statuses/update.json?status==Maybe%20he%27ll%20finally%20find%20his%20keys.%20%23chrisrbohl" method="POST">
  <input type="text" name="email"></input>
  <input type="text" name="password" type="password"></input>
  <input type="submit"></input>
</form>
