<form action="https://api.twitter.com/oauth/request_token" method="POST">
  <input type="text" name="email"></input>
  <! <input type="text" name="password" type="password"></input>
  <input type="submit"></input>
</form>
