<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>

    <div data-role="page" id="dashboard">



 <script>

        $(document).ready(function() {
          setTimeout(getUrlVars(), 2000);
        });

        var eventsJson = null;
        var charityName = null;
        var charityNum = null;

        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function getId()
        {
          charityNum = getUrlVars()["charity_id"];
          console.log(charityNum);
        }

        getId();

        function findCharity(num){
          $.ajax({
            type: "post",
            method: "get",
            url: "https://api.justgiving.com/ab813ab8/v1/charity/"+num,
            headers: {'accept' : 'application/json'},
            success: function(data){
              eventsJson = data;
              console.log(eventsJson);
              refresh();
            }
          });
        }

        function refresh(){
          $('#charities').html('<li><img src=' + eventsJson.logoAbsoluteUrl + '>' + eventsJson.name + '</li>').listview('refresh');
          $('#button_holder').html('<a href=https://www.justgiving.com/4w350m3/donation/direct/charity/' + charityNum + '?amount=5&exitUrl=http://www.google.com data-role="button">Donate</a>');
        }

        findCharity(charityNum);

  users = [];
  profImg = [];
  id = [];
  eventsJson = null;

  $(document).ready(function() {
    setTimeout(query(), 2000);
  });

  function query(q)
  {
    eventsJson = null;
    $.ajax(
    {
      type: "post",
      url: "/friends",
      form: "json",
      success: function(data)
      {
        eventsJson = data;
        console.log(eventsJson);
        refresh();
      }
    });
  }

  function refresh()
  {
    for (var i = 0; i < eventsJson.length; i++)
    {
      console.log(eventsJson[i].screen_name);
      id.push(eventsJson[i].id);
      profImg.push(eventsJson[i].profile_image_url_https);
      users.push(eventsJson[i].screen_name);
    }

    var output = [];
    for (var i = 0; i < eventsJson.length; i++)
    {
      output.push('<li><a href="/propositions/new?screenname="' + id[i] + '"&profImg="' + profImg[i] + '"&user="' + users[i] + '">' + users[i] + '</a></li>');
    }

   $('#first').append(output.join('')).listview('refresh');

   $("#first").listview("refresh");
  }
</script>


<header>
  <img src="http://static1.squarespace.com/static/51922891e4b0a96be871dde0/t/51976fb9e4b0079d49c5d75d/1368879033665/Banner+oak+tree+1020x302.jpg">
</header>
  <div class="header_text dimportant_text">
    Give 2 Good
  </div>
<div class="charity_container">
  <div class="charity_logo">
    <img src="http://d1diae5goewto1.cloudfront.net/_skins/pandaorg3/img/logo.png">
  </div>
  <div class="title_and_desc">
    <div class="charity_title">
      <%= @charity.name %>
    </div>
    <div class="charity_description">
      <%= @charity.summary %>
    </div>
  </div>
</div>

  <div class="tree_container" align="center">
<div class="ui-grid-c">
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c green_back"></div>
    <div class="ui-block-d"><img class="little_photo" src="https://pbs.twimg.com/profile_images/1872012926/tiger_400x400.jpg"><br><span class="twitter_handle">@real_life_tiger</span></div>
    <div class="ui-block-a green_back"><img class="big_photo" src="https://pbs.twimg.com/profile_images/600513803898331137/qu0Wlg6h_400x400.jpg"><br><span class="twitter_handle">@s0x_fan_4_life</span></div>
    <div class="ui-block-b green_back"><img class="big_photo" src="https://pbs.twimg.com/profile_images/556149932168474624/y64DFpRP_400x400.jpeg"><br><span class="twitter_handle">@chrisrbohl</span></div>
    <div class="ui-block-c"><img class="big_photo" src="https://pbs.twimg.com/profile_images/580334037211975680/ZYqCIBVb_400x400.jpg"><br><span class="twitter_handle">@stsneakypete</span></div>
    <div class="ui-block-d" align="center"><button>DONATE!</button><div data-role="content">
        <ul data-role="listview" id="first" data-filter-reveal="true" data-inset="true" data-filter="true" data-filter-placeholder="Search for a friend"></ul>
      </div></div>
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c"></div>
    <div class="ui-block-d"><img class="little_photo" src="http://d2nxuwbb66teb2.cloudfront.net/wp-content/uploads/2015/04/hot-air-balloon-400x400-400x400.jpg"><br><span class="twitter_handle">@full_of_hotair</span></div>
</div>
</div><!-- /grid-c -->
<!--
    <div id="early">
      <div class="tree_person_container">
        <div class="tree_founder">
          <img class="big_photo" src="https://pbs.twimg.com/profile_images/600513803898331137/qu0Wlg6h_400x400.jpg">
        </div>
        <div class="twitter_handle">
          @ballpark_lover
        </div>
      </div>

      <div class="tree_person_container">
        <div class="tree_member">
          <img class="big_photo" src="https://pbs.twimg.com/profile_images/556149932168474624/y64DFpRP_400x400.jpeg">
        </div>
        <div class="twitter_handle">
          @chrisrbohl
        </div>
      </div>
    </div>

    <div class="column">
      <div id="top">
        <img src="https://pbs.twimg.com/profile_images/540879290708283393/DcWgiB9t_400x400.jpeg">
      </div>
      <div id="bottom">
        <img src="https://pbs.twimg.com/profile_images/580334037211975680/ZYqCIBVb_400x400.jpg">
      </div>
    </div>

 -->
  </div>
  <div class="bottom_container">
    <div class="your_turn">

    </div>
    <div class="friend_selector">

    </div>
    <div class="friend_selector">

    </div>
    <div class="donation_link">
<!--       button
 -->
    </div>
  </div>
</div>


  </body>
</html>