<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>

    <div data-role="page" id="dashboard">

      <div data-role="content" id="">
        <ul data-role="listview" id="first" data-filter-reveal="true" data-inset="true" data-filter="true" data-filter-placeholder="Search for a friend"></ul>
      </div>

 <script>
  users = [];
  profImg = [];
  id = [];
  eventsJson = null;
  
  $(document).ready(function() {
    setTimeout(query(), 2000);
  });

  function query(q)
  {
    eventsJson = null;
    $.ajax(
    {
      type: "post",
      url: "/friends",
      form: "json",
      success: function(data)
      {
        eventsJson = data;
        console.log(eventsJson);
        refresh();
      }
    });
  }

  function refresh()
  {
    for (var i = 0; i < eventsJson.length; i++)
    {
      console.log(eventsJson[i].screen_name);
      id.push(eventsJson[i].id);
      profImg.push(eventsJson[i].profile_image_url_https);
      users.push(eventsJson[i].screen_name);
    }

    var output = [];
    for (var i = 0; i < eventsJson.length; i++)
    {
      output.push('<li><form action="proposition/create" method="post"><input name="username" value=' + users[i] + '>' + '<input name="twitter_id" value=' + id[i] + '>' + '<input name="profile_image value=' + profImg[i] + '>' + users[i] + '</form></li>');
    }

   $('#first').append(output.join('')).listview('refresh');

   $("#first").listview("refresh");
  }
</script>


  </body>
</html>