/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */

img {
	padding: 1em;
	box-shadow: 5px 5px 5px #222222;
	margin-bottom:1em;
}

.shadow {
	margin: 0.5em;
	box-shadow: 7px 7px 7px #222222;
}

.important_text {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {

	border: 0.5em #444444;
	margin: 0.5em;
	height:18em;
}

.header_text {
	box-shadow: 10px 10px 10px #222222;
	bottom: 0.5em;
	margin: auto;
	font-size: 5em;
}

.charity_container {
	width: 70%;
	margin: auto;
}

.charity_logo {
	display: inline-block;
	margin: 1.5em;
}

.title_and_desc {
	display: inline-block;
}

.charity_title {
	font-size: 1.4em
}

.charity_description {
	line-height: 1.3em
}

.tree_container {
	background-color: #598330;
	width: 85%;
}

.tree_person_container {
	display: inline-block;
}

.two-people {
	display: inline-block;
}

.big_photo {
	height:200px;
	width:auto;
}

.little_photo {
	height:150px;
	width:auto;
}


.tree_founder {
	display: inline-block;
}

.tree_member {
	display: inline-block;
}

.twitter_handle {
	font-size: 1.1em;

	text-align: center;
}

.bottom_container {
	width: 85%;
	margin: auto;
}

.your_turn {
	width: 85%;
	margin: auto;
}

.friend_selector {
	margin: auto;
}

.donation_link {

#button {
    width: 80px;
}
#button iframe {
    width: 80px ;
    height: 25px ;
}

#top {
	position: relative;
}

#bottom {

}

.green_back {
	background-color: #598330;

}